* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

header, main {
    max-width: 1280px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;

    & nav {
        display: flex;
        gap: 50px;
        align-items: center;

        & a{
            color: #6B7280;
            font-size: 18px;
            }
            
            & a:first-child {
                color: black;
                font-weight: 700;
        }

        & a:last-child {
            width: 183px;
            background-color: #1F1F39;
            text-align: center;
            padding: 13px;
            color: white;
            font-weight: bold;
            border-radius: 8px;
        }
    }
}

main {

    & .home { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: calc(100vh - 127px);
        padding: 120px 11px;

        & .content {
            max-width: 607px;
            display: flex;
            flex-direction: column;
            gap: 30px;

            & h1 {
                max-width: 450px;
                font-size: 70px;
                color: #1F1F39;
            }

            & p {
                font-size: 28px;
                color: #1F1F39BB;
                line-height: 48px;
            }

            & a {
                width: 246px;
                background-color: #1F1F39;
                text-align: center;
                padding: 18px;
                color: white;
                font-weight: bold;
                border-radius: 8px;
            }
        }

        & img {
            width: 500px;
            object-fit: contain;
        }
    }

    & .portfolio {
        padding: 120px 11px;

        & h2 {
            max-width: 980px;
            font-size: 40px;
            line-height: 60px;
            font-weight: 500;
            margin-bottom: 100px;
        }

        & .cards {
            display: grid;
            flex-wrap: wrap;
            grid-template-columns: repeat(3, 1fr);
            gap: 100px;

            & .card {
                & img {
                    width: 100%;
                }

                & p {
                    margin-top: 25px;
                    font-size: 28px;
                    color: rgba(0, 0, 0, 0.70);
                }
            }
        }
    }

    & .about {
        background: black;
        color: white;
        padding: 120px 11px;

        & h2 {
            font-size: 22px;
            font-weight: 400;
            margin-bottom: 29px;
        }

        & .content {

            & p {
                font-weight: 500;
                font-size: 40px;
                margin-bottom: 55px;
            }

            & button {
                padding: 18px 63px;
                border-radius: 10.87px;
                border: none;
                background-color: white;
                font-weight: 700;
                font-size: 24px;
            }
        }
    }
}

footer {
    max-width: 1280px;
    margin: auto;
    padding: 50px 120px;
    background: black;
    border-top: 1px solid #4F4F4F;
    color: #FFFFFF80;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .icons {
        display: flex;
        gap: 30px;
    }
}